numpy==1.26.3
pandas==2.2.0
matplotlib==3.8.2
librosa==0.10.1
torch==2.1.2
torchsummary==1.5.1
tqdm==4.66.1
streamlit==1.30.0
loguru==0.7.2
streamlit-player==0.1.5
blinker==1.7.0
click==8.1.7
protobuf==4.25.2
python-dateutil==2.8.2
streamlit_option_menu==0.3.12
lyricsgenius==3.0.1
openai-whisper==20231117
openunmix==1.2.1
uvicorn==0.27.0.post1
fastapi==0.109.0
pytube==15.0.0
moviepy==1.0.3
